

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

header.topo{
    background-color: #423e3ebc;
    width: 100vw;
    height: 200px;
}

header.topo ul{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    list-style-type: none;
}


header.topo > ul > li a{
    text-decoration: none;
    color: white;
}

header.topo > ul > li a:hover{
    color: rgb(85, 237, 85);
    text-decoration: underline;
    font-size: .6em;
}

main.container{
    display: flex;
    width: 1100px;
    margin-left: 10%;
    margin-top: 80px;
    height: auto;
}

.sec-1{
    /* border: 2px solid black; */
    width: 40%;
}

.sec-1 h1{
    text-align: center;
    color: red;
    margin: 20px 0px 0px 20px;
}

.sec-1 img{
    margin-top: 40px;
}

.sec-1 img{
    width: 445px;
    height: auto;
    
}


.sec-2{
    /* border: 2px solid red; */
    width: 60%;
}

.sec-2 h1{
    text-align: center;
    color: blue;
    margin: 18px 0px 0px 18px;

}

.sec-2 p{
    text-align: justify;
    padding: 16px;
    text-indent: 50px;
}

footer.rodape{
    background-color: #423e3ebc;
    width: 100vw;
    height: 180px;
    margin-top: 80px;
}

footer.rodape ul{
    display: flex;
    list-style-type: none;
    text-align: center;
    margin-left: 1100px;
    margin-top: 30px;

}

.msg{
    width: 40px;
    height: 40px;
    margin-right: 30px;

}

.rodape-1{
    display: flex;
    margin-left: 40px;
    color: white;
}

.roda{
    margin-right: 200px;
    /* background-color: rgb(60, 255, 0); */
    padding: 7px;
    border-radius: 12px;
}

.roda a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;

}

.roda a:hover{
    color: rgb(85, 237, 85);
    font-size: .9em;
    animation: infinite;
   
}

.exe-1{
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    color: white;
line-height: 200px;
text-align: center;


}
